//form container
.formContainer{
    text-align: left;
    padding-top: 1.5rem;
    border-left: 1px solid ghostwhite;
    border-Right: 1px solid ghostwhite;
    border-bottom: 1px solid ghostwhite;
}
//회원가입 form container
.joinContainer{
    text-align: left;
    padding-top: 1.5rem;
}
.join_btns{
    margin-bottom: 1.5rem;
}
.err_input{
    background-color: red;
}
.err_text{
    color: red;
}

.border_text{
    font-weight : bold;
    color: darkblue;
}

.timerDiv{
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
}
.timerDiv > p{
    padding: 0;
    text-align: right;
    color: red;
}

.visibility_visible{
    visibility: visible;
}

.visibility_hidden{
    visibility: hidden;
}

.d-grid > button{
    height: 3rem;
}