.containerMain{
    margin-top : 50px;
    margin-bottom: 100px;
    width: 100%;
}
.containerTitle{
    text-align: left;
    margin-bottom: 30px;
    font-weight:bold;
    font-size : larger;
}
.inputBox{
    text-align: left;
    margin-top: 10px;
}

.inputText{
    border: none;
    background-color: white;
}

.gap-2{
    width: 50%;
}
.buttonGroup button{
    margin-top: 30px;
    margin-right: 10px;
}
.finalButton {
    text-align: center;
}
.finalButton button {
    margin-top: 30px;
    margin-right: 10px;
    min-width: 45%;
    width: 45%;
    text-align: center;
}
.g-4 {
    --bs-gutter-y : 0.2rem;
}
.g-4 div {
    margin-bottom:10px;
    
}

.g-4 button{
    width: 100%;
    margin-bottom: 2px;
}
.card-img-top {
    max-height: 70px;
}
.essential{
    font-size: 0.1rem;
    color: red;
    padding-left: 5px;
    font-weight: bold;
}
@media only screen and (min-width: 768px) {
    .containerMain{
        margin-top : 50px;
        margin-bottom: 100px;
        width: 60%;
    }

    
  }
  @media only screen and (max-width: 600px) {
    .g-4 div{
        max-width: 110px;
    }
    .card-img-top {
        max-height: 50px;
    }
    .form-label, .form-control, .form-select, .btn, .inputText, .form-check-label{
        font-size: 0.3rem;
    }
  }
