.searchBox{
    margin-top: 10px;
    box-shadow: 0 5px 10px 0 gray;
    position: relative;
    height: 80%;
}

.searchBox .form-control{
    background-color: #e9ecef;
}

.searchBox .mb-3{
    width: 100%;
    display: flex;
    margin-top: 10px

}
.searchBox form{
    display: flex;
}
.searchBox input {
    flex-wrap: wrap;
    margin-left: 10px;
}

.searchBox button{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}