.searchBox{
    margin-top: 10px;
    box-shadow: 0 5px 10px 0 gray;
    position: relative;
    height: 80%;
    background-color : #fff,
}

.searchBox .form-control{
    background-color: #F6F6F6;
}
.searchBox .input-group-text{
    border-right: none;
    background-color: #F6F6F6;
}
.searchBox .mb-3{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;

}
.searchBox form{
    display: flex;
}
.searchBox input {
    
    border-left: none;
}

.searchBox .input-group button{
    width: 100%;
    margin-right: 10px;
}
#star > img{
    width: 30px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}
#searchTextBox{
    position: absolute;
    width: 18rem;
    margin-top: -15px;
    z-index: 10;
}
#roomPersBox{
    position: absolute;
    width: 200px;
    margin-top: -15px;
    z-index: 10;
    margin-left: 60%;
}
#searchTextBox .card-text, #roomPersBox .card-text{
    width: 100%;
    margin-bottom : 10px;
    cursor: pointer;
    //border-bottom: 1px solid rgb(218, 218, 218);
}
#roomPersBox .card-text{
    font-size: 0.9rem;
}
#searchTextBox .card-text svg{
    margin-right: 5px;
}
.searchBox .mb-3 input{
    font-size: 0.8rem;
}
#searchContainer{
    position: relative;
}
@media screen and (max-width: 770px){
    #searchContainer{
        width: 100%;
        overflow-x:auto;
    }
    // .searchBox form{
    //     display: block;
    // }
    // .searchBox .mb-3{
    //     width: 100%;
    //     display: flex;
    //     margin-top: 0px;
    //     margin-left: 0px;
    // }
    // .searchBox .input-group button{
    //     width: 100%;
    //     margin-right: 0px;
    // } 
    // .searchBox{
    //     height: 100%;
    // } 
}


