.searchBox{
    margin-top: 10px;
    box-shadow: 0 5px 10px 0 gray;
    position: relative;
    height: 80%;
}

.searchBox .form-control{
    background-color: #F6F6F6;
}
.searchBox .input-group-text{
    border-right: none;
    background-color: #F6F6F6;
}
.searchBox .mb-3{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;

}
.searchBox form{
    display: flex;
}
.searchBox input {
    
    border-left: none;
}

.searchBox .input-group button{
    width: 100%;
    margin-right: 10px;
}
#star > img{
    width: 30px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}


@media screen and (max-width: 770px){
    .searchBox form{
        display: block;
    }
    .searchBox .mb-3{
        width: 100%;
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
    }
    .searchBox .input-group button{
        width: 100%;
        margin-right: 0px;
    } 
    .searchBox{
        height: 100%;
    } 
}


