#batchDelete{
    font-size: 0.8rem;
}
#batchDelete .container{
    margin-top: 20px;
}
#batchDelete .row{
    margin-bottom: 20px;
}

.accentContent{
    color: red;
    font-weight: bold;
}
#batchDelete .modal-footer{
    text-align: center;
    display: inline-block;
}
#batchDelete .modal-footer .btn{
    width: 30%;
}