#searchMain{
    margin-top: 10px;
}
#hotelImg{
    min-height: 130px;
}

#searchMain .card-title{
    font-size: 1rem;
}

#searchMain .card-text{
    margin-top: 5px;
    font-size: 0.7rem;
}

#roomSelection{
    width: 100%;
    text-align: right;
    margin-top: 5px;
}
#roomSelection .btn{
    margin-left: 10px;
}

#searchTabs{
    margin-top:20px;
}