#searchMain{
    margin-top: 10px;
    height: 8.5rem;
}
#hotelImg{
    min-height: 130px;
}

#searchMain .card-title{
    font-size: 1rem;
}

#searchMain .card-text{
    margin-top: 5px;
    font-size: 0.7rem;
}

#roomSelection{
    width: 100%;
    text-align: right;
    margin-top: 5px;
}
#roomSelection .btn{
    margin-left: 10px;
}

#searchTabs{
    margin-top:20px;
}
.card-img-top {
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

#searchContainer .col-9{
    margin-bottom: 30px;
}
#btnGroup, #myHotelListTable{
    text-align: center;
}
@media screen and (max-width: 770px){
    #searchTabs .mb-3{
        font-size: 0.6rem;
    }

    #searchMain{
        height: 10.5rem;
    }
    #hotelImg{
        width: 70px;
        min-height: 140px;
    }
}